// =======================================
// =            Global Config            =
// =======================================

// Fonts

$font: 'Open Sans', sans-serif;


// Colors
$white: #f4f4f4;
$black: #2e2d34;
$gray: #bfc5d1;


// Breakpoints
@import "breakpoints";

$columns: 12;
$column-gutter: 20px;
