.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &--user{
    display: flex;
    align-items: center;
    
    &__avatar {
      margin-right: rem(18px);
      
      @include breakpoint(sm) {
        margin-right: rem(22px);
      }
      
      img {
        border-radius: 100px;
        width: rem(38px);
        height: rem(38px);
        
        @include breakpoint(sm) {
          width: rem(42px);
          height: rem(42px);
        }
      }
    }
    
    h6 {
      font-size: rem(16px);
      font-weight: 600;
      
      @include breakpoint(sm) {
        font-size: rem(18px);
      }
    }
  }

  .power {
    width: rem(32px);
    height: rem(35px);
    fill: #bfc5d1;
    
    @include breakpoint(sm) {
      width: rem(38px);
      height: rem(42px);
    }
  }
}
