header.mainHeader
  .mainHeader--user
    .mainHeader--user__avatar
      img(src="img/avatar.jpg", alt="")
    .mainHeader--user__name
      h6 Xisco Azarevich
  .mainHeader--power
    svg(class="icon power")
      use(xlink:href="#power")
