.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  
  @include breakpoint(md) {
    top: 30%;
  }
  
  img {
    display: block;
    max-width: rem(320px);
    margin: 0 auto;
    
    @include breakpoint(sm) {
      max-width: rem(420px);
    }
    
    @include breakpoint(md) {
      max-width: rem(600px);
    }
    
    @include breakpoint(xx) {
      max-width: rem(800px);
    }
  }
}


.mainNav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  @include breakpoint(md) {
    flex-direction: row;
    bottom: 10%;
  }
  
  @include breakpoint(xx) {
    bottom: 20%;
  }
  
  a {
    margin: rem(20px);
    font-size: rem(20px);
    text-align: center;
    
    @include breakpoint(xx) {
      font-size: rem(24px);
    }
  }
  
  span {
    display: block;
    margin-bottom: rem(4px);
  }
}